body {
	font-family: 'Raleway', sans-serif;
	padding: 0;
    margin:0;
    height:100%;
}
body {
	padding-top: 95px;
}
html {
	scroll-behavior: smooth;
}
body {
	padding-top: 95px;
}
a {
	outline: none;
}
.video-hero {
	height: 380px;
	width: 100%;
	background-image: url('../../../../uploads/video-poster-new.png'); 
	background-repeat: no-repeat;
	background-size: cover;
	@include breakpoint (sm) {
		height: 600px;
		background-color: #006da0;
		width: 100%;
		display: block;
		overflow: hidden;
	}
	&:before {
		content: '';
		background: rgba(0,112,245,0.3);
    	width: 100%;
    	height: 696px;
    	position: absolute;
    	left: 0;
    	top: 0;
    	z-index: 1;
    }
}
#video1 { 
	margin:0 auto;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    z-index: -1;
}
.video-text {
	height: 320px;
	margin-top: -320px;
	color: #fff;
	@include breakpoint (sm) {
		position: relative;
		color: #fff;
		padding-top: 5rem;
		padding-left: 1.4rem;
		display: block;
		height: 500px;
		margin-top: -620px;
		z-index: 2;
	}
	
}
.main-heading {
	padding-top: 3rem;
	color: #000;
	line-height: 2.2rem;
	@include breakpoint (sm) {
		font-size: 90px;
		line-height:4.4rem;
	}
	@include breakpoint (md) {
		font-size: 90px;
		line-height:4.5rem;
	}
}
.sub-heading {
	line-height: 2.3rem;
	margin-top: -12px;
	@include breakpoint (sm) {
		padding-top: 0.5rem;
		font-size: 90px;
		line-height:4.3rem;
	}
	@include breakpoint (md) {
		font-size: 90px;
		line-height:4.5rem;
		margin-top: -18px;
	}
}
.title-under {
	border-bottom: 5px solid #fff;
	width: 62%;
}
.orange-text {
	color: #F99D25;
}