body {
	font-family: 'Raleway', sans-serif;
	padding: 0;
    margin:0;
    height:100%;
}
body {
	padding-top:0px;
}
html {
	scroll-behavior: smooth;
}
body {
	padding-top: 95px;
}
a {
	outline: none;
}
.video-hero {
	height: 420px;
	width: 100%;
	background-image: url('../../../../uploads/video-poster-new.png'); 
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	@include breakpoint (sm) {
		height: 600px;
		background-color: #006da0;
		width: 100%;
		display: block;
		overflow: hidden;
		&:before {
			content: '';
			background: rgba(0,112,245,0.3);
	    	width: 100%;
	    	height: 696px;
	    	position: absolute;
	    	left: 0;
	    	top: 0;
	    	z-index: 1;
    	}
	}
}
.dmi-home {
	background: rgba(0,112,245,0.9);
	height: 420px;
}
#video1 { 
	margin:0 auto;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    z-index: -1;
}
.video-text {
	height: 400px;
	margin-top: -400px;
	color: #fff;
	@include breakpoint (sm) {
		position: relative;
		color: #fff;
		padding-top: 5rem;
		padding-left: 1.4rem;
		display: block;
		height: 620px;
		margin-top: -620px;
		z-index: 2;
	}
}
.main-heading {
	padding-top: 3rem;
	color: #000;
	line-height: 2.2rem;
	@include breakpoint (sm) {
		font-size: 90px;
		line-height:4.5rem;
	}
	@include breakpoint (md) {
		font-size: 90px;
		line-height:4.9rem;
	}
}
.sub-heading {
	line-height: 2.3rem;
	margin-top: -12px;
	@include breakpoint (sm) {
		padding-top: 0.5rem;
		font-size: 90px;
		line-height:4.3rem;
	}
	@include breakpoint (md) {
		font-size: 90px;
		line-height:4.9rem;
		margin-top: -18px;
	}
}
.title-under {
	border-bottom: 5px solid #fff;
	width: 62%;
}
.orange-text {
	color: #F99D25;
}
.blue-text {
	color: #002e5d;
}
.home-services {
	min-height: 600px;
	background: #42484d;
	@include breakpoint (sm) {
		margin-top: 180px;
	}
}
.overline {
	border-top: 10px solid #fff;
	width: 50px;
	margin-bottom: 15px;
}
.overline-blue {
	border-top: 10px solid #002e5d;
	width: 50px;
	margin-bottom: 15px;
}
.who-we-are {
	width: 100%;
	min-height: 500px;
	background-image: url('../../../../uploads/who-we-are-bg.png'); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	border-bottom: 30px solid #29679b;
}
.about-us {
	width: 100%;
	min-height: 420px;
	background: #f7f5e1;
}
.about-img {
	width: 100%;
	height: 500px;
	background-image: url('../../../../uploads/desk-bg.png'); 
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
	@include breakpoint (md) {
		height: 920px;
	}
	@include breakpoint (lg) {
		height: 810px;
	}
	@include breakpoint (xl) {
		height: 685px;
	}
}
.contact-us {
	width: 100%;
	min-height: 420px;
	background: #29679b;
}
.footer {
	background: #2f2e2e;
	width: 100%;
	min-height: 150px;
}
/* ===============   FONT AWESOME ============== */
.fa-plus-circle {
	color: #e6deca;
	transition: 0.4s ease-in-out;
	&:hover {
		color: #F99D25;
		transition: 0.4s ease-in-out;
		transform: rotate(90deg);
	}
}
